.container {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 0%;
}
body {
  background-color: rgb(245, 164, 97);
}

.box {
  height: 90vh;
  width: 40vw;
  border: 2px solid black;
  margin: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
.header {
  color: rgb(252, 252, 252);
  /* height: 100px; */
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: 6vh;
  font-size: 6vw;
  color:black;
}
h3 {
  color: rgb(7, 7, 7);
}

.box {
  background-image: url("https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto/nndppiny6hf2kcr6fqfy");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CSS */
button {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #4185f3;
  color: rgb(121, 250, 82);
}

@media (min-width: 750px) {
  button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}